<link rel="stylesheet" href="/css/post.css">
<div id="post">
    <section id="feed-posts">
        <h4>Posts</h4>
        <form action="/posts/createPost" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="5" placeholder="Type here..." required></textarea>
            <input type="submit" value="post">
        </form>
    
        
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
    
                    <%- include('_post') -%>
    
                <% } %>
            </ul>
        </div>
        
    </section>
</div>


